{% include 'adminheader.html' %}
	
	<div id='page-wrapper'>
	<div id='page-inner'>
		<div class='row'>
			<div class='col-md-12'>
				<h1 style="padding-top: 150px;">View Pending Bookings</h1>
				<div class='form'>
				</div>
			</div>
		</div>
		<form method="post">
		<div class='row'>
			<div class='col-md-12'>
				<table class='table'>
					<thead>
						<tr>
							<th>Sl No.</th>
							<th>Date</th>
							
							<th>User Name</th>
							<th>Feedback</th>
						</tr>
					</thead>
					<tbody>
						{% for row in data['viewfeed'] %}
						<tr>
							<td>{{loop.index}}</td>
							<td>{{row['date_time']}}</td>
							
							<td>{{row['first_name']}} {{row['last_name']}}</td>
							<td>{{row['feedback']}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				
			</div>
		</div>
		</form>
	</div>
</div>

{% include 'adminfooter.html' %}