{% include 'owner_header.html' %}
<!-- main-slider -->
<section class="w3l-main-slider banner-slider" id="home">
    <div class="owl-one owl-carousel owl-theme">
      <div class="item">
        <div class="slider-info banner-view banner-top1">
          <div class="container">
            <div class="banner-info">
              <h3>Share Your Ride.</h3>
              <div class="banner-info-top">
                <!-- <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
                  tempufddfel. Lorem ipsum dolor sit amet elit. </p>
                <a href="about.html" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Read More </a> -->

              </div>
            </div>
            <!-- <div class="banner-info-top-grids">
              <h5 class="text-lg-left"><strong>Our Location : </strong> 253 Adams Ave, Iowa</h5>
              <h5 class="text-lg-right"><strong> Open Hours : </strong> Mon - Sat 8am - 6pm</h5>
            </div> -->
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider-info banner-view banner-top2">
          <div class="container">
            <div class="banner-info">
              <h3>Share Your Ride.</h3>
              <div class="banner-info-top">
                <!-- <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
                  tempufddfel. Lorem ipsum dolor sit amet elit. </p>
                <a href="about.html" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Read More </a> -->

              </div>
            </div>
            <!-- <div class="banner-info-top-grids">
              <h5 class="text-lg-left"><strong>Our Location : </strong> 253 Adams Ave, Iowa</h5>
              <h5 class="text-lg-right"><strong> Open Hours : </strong> Mon - Sat 8am - 6pm</h5>
            </div> -->
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider-info banner-view banner-top3">
          <div class="container">
            <div class="banner-info">
              <h3>Share Your Ride.</h3>
              <div class="banner-info-top">
                <!-- <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
                  tempufddfel. Lorem ipsum dolor sit amet elit. </p>
                <a href="about.html" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Read More </a> -->
              </div>
            </div>
            <!-- <div class="banner-info-top-grids">
              <h5 class="text-lg-left"><strong>Our Location : </strong> 253 Adams Ave, Iowa</h5>
              <h5 class="text-lg-right"><strong> Open Hours : </strong> Mon - Sat 8am - 6pm</h5>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main-slider -->
  <!--/feature-grids-->
  <!-- <section class="w3l-features py-5" id="features">
    <div class="container py-lg-4">
      <div class="grids-area-hny main-cont-wthree-fea row">
        <div class="col-lg-2 col-md-3 col-6 grids-feature">
          <div class="area-box">
            <div class="icon">
              <span class="fa fa-snowflake-o"></span>
            </div>
            <h4><a href="#feature" class="title-head">Dog Walking</a></h4>
           </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 grids-feature">
          <div class="area-box mb-lg-0">
            <div class="icon">
              <span class="fa fa-cutlery"></span>
            </div>
            <h4><a href="#feature" class="title-head">Healthy Meals</a></h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 grids-feature">
          <div class="area-box mb-lg-0">
            <div class="icon">
              <span class="fa fa-sign-language"></span>
            </div>
            <h4><a href="#feature" class="title-head">Pet Sitting</a></h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 grids-feature">
          <div class="area-box">
            <div class="icon">
              <span class="fa fa-sitemap"></span>
            </div>
            <h4><a href="#feature" class="title-head">Dog Activities</a></h4>
    
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 grids-feature">
          <div class="area-box mb-lg-0">
            <div class="icon">
              <span class="fa fa-shower"></span>
            </div>
            <h4><a href="#feature" class="title-head">Pet Daycare</a></h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 grids-feature">
          <div class="area-box">
            <div class="icon">
              <span class="fa fa-user-md"></span>
            </div>
            <h4><a href="#feature" class="title-head">Pet Grooming</a></h4>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--//feature-grids-->
  <!--/about-section-->
  <!-- <section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-3">
        <div class="row">
          <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4 align-self pr-lg-5">
            <div class="title-content text-left">
              <h6 class="title-subhny mb-2"><span>Love Your Pet</span></h6>
              <h3 class="title-w3l">Established &
                Trusted Pet
                Care Service</h3>
            </div>
            <p class="mt-md-4 mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
              ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
              elit. Non quae, fugiat nihil ad. Lorem ipsum dolor sit amet. Lorem ipsum init
              dolor sit, amet elit. Dolor ipsum non velit, culpa! Vivamus a et ut justo, init in dolor et.</p>
            <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Read More</a>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-4">
            <div class="position-relative">
              <img src="/static/assets/images/b1.jpg" alt="" class="radius-image img-fluid">
            </div>
          </div>
          <div class="col-lg-6 mt-5 pt-lg-4">
            <div class="position-relative">
              <img src="/static/assets/images/b2.jpg" alt="" class="radius-image img-fluid">
            </div>
          </div>
          <div class="col-lg-6 mt-5 align-self pl-lg-5 pt-lg-4">
            <div class="title-content text-left">
              <h6 class="title-subhny mb-2"><span>Pet care</span></h6>
              <h3 class="title-w3l">Reliable & Affordable in home pet care.</h3>
            </div>

            <p class="mt-md-4 mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
              ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
              elit. Non quae, fugiat nihil ad. Lorem ipsum dolor sit amet. Lorem ipsum init
              dolor sit, amet elit. Dolor ipsum non velit, culpa! Vivamus a et ut justo, init in dolor et.</p>
            <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--//about-section-->
  <!--/w3l-index2-->
  <!-- <section class="w3l-index2" id="about1">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-6 left-wthree-img">
            <div class="position-relative">
              <img src="/static/assets/images/b3.jpg" alt="" class="radius-image img-fluid">
            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-5 pl-lg-5 align-self">
            <div class="title-content text-left">
              <h6 class="title-subhny mb-2"><span>Why Choose Us</span></h6>
              <h3 class="title-w3l">Why Petspatial?</h3>
            </div>
            <p class="mt-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
              ultrices in ligula. Semper at tempufddfel. Learn more about our work!
              Lorem ipsum viverra feugiat.
            </p>
            <ul class="w3l-right-book mt-4">
              <li><span class="fa fa-check" aria-hidden="true"></span>Pellen tesque libero ut justo</li>
              <li><span class="fa fa-check" aria-hidden="true"></span>Lorem ipsum dolor sit amet elit</li>
              <li><span class="fa fa-check" aria-hidden="true"></span>Pellen tesque libero ut justo</li>
            </ul>
            <a href="about.html" class="btn btn-style btn-primary mt-4">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--//w3l-index2-->
  <!-- /home-page-video-popup-->
  <!-- <section class="w3l-index5 py-5" id="about">
    <div class="new-block py-md-5 py-3">
      <div class="container py-lg-5">
        <div class="row middle-section align-self">
          <div class="col-lg-7 video-info pr-lg-5">
            <div class="title-content text-left">
              <h6 class="title-subhny three mb-2"><span>Better pet nutrition.</span></h6>
              <h3 class="title-w3l two pr-lg-5">The finest fresh food and all your pet needs.</h3>
              <p class="mt-3 pr-lg-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet elit
                consec tetur adipisi elit.
                Lorem ipsum dolor sit amet elit consec tetur adipisi elit. Iure voluptatibus explicabo
                officia.</p>
                <a href="contact.html" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Contact Now </a>
            </div>
          </div>
          <div class="col-lg-5 history-info mt-5 pl-lg-5 align-self">
            <div class="position-relative mt-lg-0 mt-5 pt-lg-0 pt-5 pb-lg-0 pb-5">
              <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                <span class="video-play-icon">
                  <span class="fa fa-play"></span>
                </span>
              </a> -->
              <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
              <!-- <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                <iframe src="https://player.vimeo.com/video/101587706" frameborder="0" allow="autoplay; fullscreen"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div> -->

          <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
          <!-- <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
            <iframe src="https://player.vimeo.com/video/101587706" frameborder="0" allow="autoplay; fullscreen"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- //home-page-video-popup-->
  <!-- home page block grids -->
  <!-- <section class="w3l-blog-single py-5" id="blogs">
    <div class="container py-md-5 py-2">
      <div class="title-content text-left">
        <h6 class="title-subhny mb-2"><span>Our Posts</span></h6>
        <h3 class="title-w3l">Recent Blog Posts.</h3>
      </div>
      <div class="row text11-content">
        <div class="col-md-6 item mt-5">
          <div class="single-left1 mb-0">
            <div class="blg-img">
              <a href="#"><img src="/static/assets/images/b5.jpg" alt=" " class="img-responsive img-fluid">
                <div class="bl-top">
                  <h4>12 Mar</h4>
                </div>
              </a>
            </div>
            <div class="btom-cont">
              <h5 class="card-title"><a href="#">Germs Thrive the Office! Your Health Risk?</a></h5>
              <ul class="admin-post">
                <li>
                  <a href="#"><span class="fa fa-user"></span> Posted by Admin</a>
                </li>
                <li>
                  <a href="#"><span class="fa fa-comments-o"></span>Comments (20)</a>
                </li>
              </ul>
              <p class="">Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim sunt in culpa qui officia deserunt. </p>
              <a href="#" class="btn btn-style btn-primary mt-4">Read More</a>

            </div>
          </div>
        </div>
        <div class="col-md-6 item mt-5">
          <div class="single-left1 mb-0">
            <div class="blg-img">
              <a href="#"><img src="/static/assets/images/b6.jpg" alt=" " class="img-responsive img-fluid">
                <div class="bl-top">
                  <h4>14 Mar</h4>
                </div>
              </a>
            </div>

            <div class="btom-cont">
              <h5 class="card-title"><a href="#">Germs Thrive the Office! Your Health Risk?</a></h5>
              <ul class="admin-post">
                <li>
                  <a href="#"><span class="fa fa-user"></span> Posted by Admin</a>
                </li>
                <li>
                  <a href="#"><span class="fa fa-comments-o"></span>Comments (20)</a>
                </li>
              </ul>
              <p class="">Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim sunt in culpa qui officia deserunt. </p>
              <a href="#" class="btn btn-style btn-primary mt-4">Read More</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- //home page block grids -->
  <!-- testimonials section -->
  <!-- <section class="w3l-clients w3l-test py-5" id="testimonials">
    <div class="container py-lg-5 py-md-4 pt-2 pb-5">
      <div class="row w3test-grids p-md-5 pb-0">
        <div class="col-lg-4 testimonials-con-left-info">
          <div class="title-content text-left p-xl-3">
            <h6 class="title-subhny mb-2"><span>Reviews</span></h6>
            <h3 class="title-w3l two">Testimonials</h3>
            <p class="test-p mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
              ultrices in ligula. Semper at tempufddfel.
              Lorem ipsum viverra feugiat.</p>
          </div>
        </div>
        <div class="col-lg-8 testimonials-con-right mt-lg-0 mt-5 p-xl-3">
          <div id="owl-demo2" class="owl-carousel owl-theme">
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <q>Pellen tesque libero ut justo</q>
                  </blockquote>
                  <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                    faucibus orci luctus et ultrices posuere.</p>
                </div>
                <div class="bottom-info mt-4">
                  <a class="comment-img" href="#url"><img src="/static/assets/images/team1.jpg" class="img-fluid radius-image"
                      alt="placeholder image"></a>
                  <div class="people-info align-self">
                    <h3>Johnson william</h3>
                    <p class="identity">Example City</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <q>Lorem ipsum dolor sit amet</q>
                  </blockquote>
                  <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                    faucibus orci luctus et ultrices posuere.</p>
                </div>
                <div class="bottom-info mt-4">
                  <a class="comment-img" href="#url"><img src="/static/assets/images/team2.jpg" class="img-fluid radius-image"
                      alt="placeholder image"></a>
                  <div class="people-info align-self">
                    <h3>Alexander sakura</h3>
                    <p class="identity">Example City</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <q>Pellen tesque libero ut justo</q>
                  </blockquote>
                  <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                    faucibus orci luctus et ultrices posuere.</p>
                </div>
                <div class="bottom-info mt-4">
                  <a class="comment-img" href="#url"><img src="/static/assets/images/team3.jpg" class="img-fluid radius-image"
                      alt="placeholder image"></a>
                  <div class="people-info align-self">
                    <h3>John wilson</h3>
                    <p class="identity">Example City</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <q>Lorem ipsum dolor sit amet</q>
                  </blockquote>
                  <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                    faucibus orci luctus et ultrices posuere.</p>
                </div>
                <div class="bottom-info mt-4">
                  <a class="comment-img" href="#url"><img src="/static/assets/images/team4.jpg" class="img-fluid radius-image"
                      alt="placeholder image"></a>
                  <div class="people-info align-self">
                    <h3>Julia sakura</h3>
                    <p class="identity">Example City</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <q>Pellen tesque libero ut justo</q>
                  </blockquote>
                  <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                    faucibus orci luctus et ultrices posuere.</p>
                </div>
                <div class="bottom-info mt-4">
                  <a class="comment-img" href="#url"><img src="/static/assets/images/team5.jpg" class="img-fluid radius-image"
                      alt="placeholder image"></a>
                  <div class="people-info align-self">
                    <h3>John wilson</h3>
                    <p class="identity">Example City</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <q>Lorem ipsum dolor sit amet.</q>
                  </blockquote>
                  <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                    faucibus orci luctus et ultrices posuere.</p>
                </div>
                <div class="bottom-info mt-4">
                  <a class="comment-img" href="#url"><img src="/static/assets/images/team3.jpg" class="img-fluid radius-image"
                      alt="placeholder image"></a>
                  <div class="people-info align-self">
                    <h3>Julia sakura</h3>
                    <p class="identity">Example City</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row stats-con pt-md-5 mt-5">
        <div class="col-lg-3 col-6 stats_info counter_grid">
          <p class="counter">1500 </p>
          <span class="plus">+</span><br>
          <h3>Acres Of Forests</h3>

        </div>
        <div class="col-lg-3 col-6 stats_info counter_grid mt-md-0 mt-0">
          <p class="counter">1160</p>
          <span class="plus">+</span><br>
          <h3>Million People</h3>

        </div>
        <div class="col-lg-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
          <p class="counter">1145 </p>
          <span class="plus">k</span><br>
          <h3>Thousand Hectares </h3>

        </div>
        <div class="col-lg-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
          <p class="counter">1145 </p>
          <span class="plus">k</span><br>
          <h3>Thousand Hectares </h3>

        </div>
      </div>
    </div>
  </section> -->
  <!-- //testimonials section -->
{% include 'adminfooter.html' %}