 <!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Carpooling Bootstrap Responsive Web Template | Home :: W3Layouts </title>
  <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/assets/css/style-starter.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-m0lh+5ZKyq3jJlNZ0aqQ/CX9gIa+q3+z52kg6+85QWb">

  <script src="https://kit.fontawesome.com/c7705f70af.js" crossorigin="anonymous"></script>
</head>
<style>


.error {
  color: red;
}

.success {
  color: green;
}

.password-input {
  position: relative;
}



.password-toggle {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  color: #666;
  font-size: 16px;
}

body{
  background-color: #C8BCBA;
    
}
</style>
<body>
  <header id="site-header" class="fixed-top">
    <section class="w3l-header-4">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <h1> <a class="navbar-brand" href="index.html">
              Android<span class="sublog"> carpooling.</span>
            </a></h1>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa icon-expand fa-bars"></span>
            <span class="fa icon-close fa-times"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link a" href="/">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link a" href="login">Login</a>
              </li>
        <li class="nav-item">
                <a class="nav-link a" href="ownerreg">Owner Registeration</a>
              </li>
               
              <!-- <li class="nav-item">
                <a class="nav-link a" href="view_pendingbookings">Pending Requests

        </a>
              </li>

              <li class="nav-item">
                <a class="nav-link a" href="view_feedbacks">Feedbacks</a>
              </li>
        <li class="nav-item">
                <a class="nav-link a" href="view_complaints">Complaints</a>
              </li>
        <li class="nav-item">
                <a class="nav-link a" href="viewuser">Usres</a>
              </li>
        <li class="nav-item">
                <a class="nav-link a" href="viewem">Emergency</a>
              </li>
        <li class="nav-item">
                <a class="nav-link a" href="logout">Logout</a>
              </li> -->
            </ul>
            <!-- <ul class="navbar-nav search-right mt-lg-0 mt-2">
              <li class="nav-item mr-2" title="Search"><a href="#search" class="btn search-search">
                  <span class="fa fa-search" aria-hidden="true"></span></a></li>
              <li class="nav-item mx-xl-4"><a href="tel:+(12)234-11-24"
                  class="btn btn-primary btn-white d-none d-lg-block btn-style mr-2 phone-btn"><span class="fa fa-phone mr-xl-3"
                    aria-hidden="true"></span> (32)234-14-94</a></li>
            </ul> -->

            <!-- //toggle switch for light and dark theme -->
            <!-- search popup -->
            <!-- <div id="search" class="pop-overlay">
              <div class="popup">
                <form action="#" method="GET" class="d-sm-flex">
                  <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                  <button type="submit"><span class="fa fa-search"></span></button>
                  <a class="close" href="#">&times;</a>
                </form>
              </div>
            </div> -->
            <!-- /search popup -->
          </div>
          <!-- toggle switch for light and dark theme -->
      <div class="mobile-position">
        <nav class="navigation">
        <div class="theme-switch-wrapper">
          <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox">
          <div class="mode-container">
            <i class="gg-sun"></i>
            <i class="gg-moon"></i>
          </div>
          </label>
        </div>
        </nav>
      </div>
      </nav>
    </div>
    </section>
  </header>

<center>
    
    <h1 style="padding-top: 150px;">Update password</h1>
    <form action="" method="post" enctype="multipart/form-data" class="myForm">
        <table class="table" style="width: 700px;">

           
                <th>username</th>
                <td><input type="text" name="uname" class="form-control" placeholder="Enter username" required></td>
            </tr>

                <th>phone</th>
                <td><input type="text" name="phone" class="form-control" placeholder="Enter phone number" required></td>
            </tr>

                <th>email</th>
                <td><input type="email" name="email" class="form-control" placeholder="Enter email" required></td>
            </tr>
             <tr>
                <th>new password</th>
                <td class="password-input"><input type="password" name="psswd" class="form-control" id="password1" placeholder="Enter new password" oninput="checkPasswords()" required="">
                    <span class="password-toggle" onclick="togglePasswordVisibility('password1')"><i class="fas fa-eye"></i></span></td>
            </tr>    
            <tr>
                <th>confirm password</th>
                <td class="password-input"><input type="password" name="password" class="form-control" id="password2" placeholder="confirm password" oninput="checkPasswords()" required="">
                    <span class="password-toggle" onclick="togglePasswordVisibility('password2')"><i class="fas fa-eye"></i></span>
                    <span id="password-match" class="error"></span>
                </td>

            </tr> 
                
                <td colspan="2" align="center"><input type="submit" name="for" value="update password" class="btn btn-outline-success"></td>


            </tr>
        </table> 
    </form>

    


</center>
<script>




// function checkPasswords() {
//   var password1 = document.getElementById("password1");
//   var password2 = document.getElementById("password2");
//   var message = document.getElementById("password-match");
  
//   if (password2.value !== "") {
//     if (password1.value !== password2.value) {
//       message.textContent = "Passwords do not match!";
//       message.className = "error";
//       password2.style.borderColor = "red";
//     } else {
//       message.textContent = "Passwords match!";
//       message.className = "success";
//       password2.style.borderColor = "green";
//     }
//   } else {
//     message.textContent = "";
//     message.className = "";
//     password2.style.borderColor = "";
//   }
// }

function checkPasswords() {
  var password1 = document.getElementById("password1");
  var password2 = document.getElementById("password2");
  var message = document.getElementById("password-match");
  
  if (password2.value !== "") {
    if (password1.value !== password2.value) {
      message.textContent = "Passwords do not match!";
      message.className = "error";
      password2.style.borderColor = "red";
    } else {
      message.textContent = "Passwords match!";
      message.className = "success";
      password2.style.borderColor = "green";
    }
  } else {
    message.textContent = "";
    message.className = "";
    password2.style.borderColor = "";
  }
}

function togglePasswordVisibility(id) {
  var passwordField = document.getElementById(id);
  var toggleIcon = passwordField.nextElementSibling.firstElementChild;
  if (passwordField.type === "password") {
    passwordField.type = "text";
    toggleIcon.classList.remove("fa-eye");
    toggleIcon.classList.add("fa-eye-slash");
  } else {
    passwordField.type = "password";
    toggleIcon.classList.remove("fa-eye-slash");
    toggleIcon.classList.add("fa-eye");
  }
}

</script>
</body>
</html>

{% include 'adminfooter.html' %}